@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

$theme-black: #3c3c3c;
$theme-blue: #1891ac;
$theme-light-blue: #d2ecf9;
$bg-grid-start: #111111;
$bg-grid-end: #4c4c4c;
// $bg-dark-color: rgb(25, 25, 34);
// $bg-dark-color: rgb(11, 11, 12);
$bg-dark-color: #121212;
$container-dark-color: #211b11; // #1a1919; //rgb(11, 11, 12);
$primary-color: rgb(230, 150, 0);
$accent-color: green;

$primary-font: Roboto;
$secondary-font: "Nunito", serif