@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

$theme-black: #3c3c3c;
$theme-blue: #1891ac;
$link-color: #97c8e0; // #d2ecf9;
$bg-grid-start: #111111;
$bg-grid-end: #4c4c4c;
// $bg-dark-color: rgb(25, 25, 34);
// $bg-dark-color: rgb(11, 11, 12);
// $bg-dark-color: #121212;
$bg-dark-color: #121212;
$container-dark-color: #211b11; // #1a1919; //rgb(11, 11, 12);
$primary-color: rgb(230, 150, 0);
$accent-color: green;

$primary-font: Roboto;
$secondary-font: "Nunito", serif;

$default-gap: 1rem;

// Font colors
$font-primary: #ffffff;
$font-secondary: #c2bfbf;
$font-tertiary: #999999;
$font-muted: #777777;

// Font sizes
$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-ml: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-2xl: 2rem;
$font-size-3xl: 2.5rem;
$font-size-4xl: 3rem;
$font-size-5xl: 4rem;
