@import 'app-mixins';
@import 'app-variables';

#navigation {
    margin-bottom: 3rem;
    padding: 1rem;
    font-size: 20px;
    color: rgb(238, 236, 236);
    @include flex-layout($align-items: center, $gap: 0);
    box-shadow: 0 0 .5rem rgba(white, .7);
    background-color: $container-dark-color;
    position: sticky;
    top: 0px;

    #nav-content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        #logo {
            text-transform: uppercase;
            letter-spacing: 2px;
            font-weight: 600;
            transition: text-shadow .3s;
            &:hover {
                text-shadow: 2px 2px 2px rgba($primary-color, 1);
            }
        }

        #page-nav {
            font-family: $secondary-font;
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: 1rem;
        }

        .nav-link {
            transition: color .3s;
            &:hover {
                color: $primary-color;
            }
        }
    }
}