<header class="app-header">
    <app-wrapper>
        <app-nav></app-nav>
        <div id="hero">
            <img id="my-image" src="me.jpg" alt="">
            <section id="info">
                <h1 id="job-title">
                    FRONTEND <br>
                    DEVELOPER
                </h1>
                <p id="sub-title">
                    Hi! I am Dominik, a passionate frontend developer with 2 years of comercial experience. 
                    I love exploring new technologies, and deliver complex projects from start to end. 
                </p>
                <div class="socials">
                    
                </div>
            </section>
        </div>
    </app-wrapper>
</header>