<header class="app-header">
    <app-wrapper>
        <div id="hero">
            <img id="my-image" src="me.jpg" alt="">
            <section id="info">
                <h1 id="job-title">
                    FRONTEND <br>
                    DEVELOPER
                </h1>
                <p id="sub-title">
                    Hi! I am Dominik, a passionate frontend developer with 2 years of comercial experience. 
                    I love exploring new technologies, and deliver complex projects from start to end. 
                </p>
                <div class="socials">
                    @for (tile of socialTiles; track tile.title) {
                        <a 
                            class="icon-tile" 
                            [href]="tile.link" 
                            target="_blank"
                            [download]="tile.download"
                            [ngStyle]="{ '--hover-shadow-color': tile.color }">
                            <fa-icon [icon]="tile.icon" class="social-icon" [ngStyle]="{color: tile.color}"></fa-icon>
                            <span>{{ tile.title }}</span>
                        </a>
                    }
                </div>
            </section>
        </div>
    </app-wrapper>
</header>