@import '../styles/app-variables';

.app-content {
    color: $font-primary;
    background-color: $bg-dark-color;
    min-height: 100vh;
    .content {
        display: grid;
        place-items: center;
    }
}