@import "../../../../../../../styles/app-variables";
@import "../../../../../../../styles/app-mixins";

.tile-title {
    font-size: $font-size-xl;
    color: $primary-color;
    width: 100%;
    display: grid;
    place-items: center;

    &-content {
        @include flex-layout(row, center, $gap: .5rem);
    }
}

.tile-content {
    width: 100%;
    padding: 1rem;
    @include flex-layout(column, $gap: .7rem);
}

.about-link {
    color: $link-color;
    &:hover {
        text-decoration: underline;
    }
}

#date {
    font-size: 15px;
    color: rgb(177, 177, 177);
}

#job-description {
    font-size: $font-size-md;
    font-family: $secondary-font;
}

.company-name {
    font-size: 18px;
}

.sub-title {
    margin: 0.5rem 0;
}

.technology-list {
    margin-top: 0.5rem;
    @include flex-layout(row, $gap: 0.5rem);
    flex-wrap: wrap;

    .technology-tile {
        background-color: $link-color;
        border-radius: 0.3rem 0.5rem;
        padding: 0.5rem;
        color: black;
        $init-bs: 0 0 0.25rem rgba(white, 0.3);
        $after-bs: 0 0 0.7rem rgba(white, 0.5);
        @include simple-transition(box-shadow, 0.3s, $init-bs, $after-bs, $cursor: default);
    }
}

.flex-space-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    width: 100%;
}
