@import 'app-mixins';
@import 'app-variables';

$image-size: 100px;

.skill {
  @include flex-layout(column, center);
  row-gap: 4px;
  transition: text-shadow 0.3s ease, transform 0.4s ease;
  z-index: 0;

  &:hover {
    cursor: pointer;
    transform: translateY(-8px);

    .skill-name {
      text-shadow: 0 0 1rem rgba(white, 0.9);
    }
  }

  &-image {
    @include square($image-size);
  }

  &-name {
    font-size: $font-size-ml;
    font-weight: bold;
    transition: text-shadow 0.3s ease;
    text-shadow: 0 0 0.4rem rgba(white, 0.3);
  }
}
