<section id="about">
    <h1>About me</h1>
    <div id="about-content">
        <section class="about-tile bio-tile">
            <span class="tile-title">
                <fa-icon [icon]="icons.bio" /> <span>Bio</span>
            </span>
            <div class="tile-content">
                
            </div>
        </section>
        <section class="about-tile">
            <span class="tile-title">
                <fa-icon [icon]="icons.education" /> <span>Education</span>
            </span>
            <div class="tile-content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, excepturi.
            </div>
        </section>
        <section class="about-tile exp-tile">
            <span class="tile-title">
                <fa-icon [icon]="icons.exp" /> <span>Work Experience</span>
            </span>
            <div class="tile-content">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eligendi, excepturi.
            </div>
        </section>
    </div>
</section>